radiospectra
pandas
numpy
psycopg2
sortedcontainers
scikit-image
ruptures
opencv-python
seaborn
pyarrow
fastapi
uvicorn
schedule
watchdog
pytimeparse
# conda install -c pyviz holoviews
# conda install -c plotly plotly=5.13.0
